html {
  font-family: 'Segoe UI', 'Helvetica Neue', Arial, Tahoma, sans-serif;
}

.stars {
  direction: rtl;
  position: absolute;
}

.stars input[type="radio"] {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.stars label {
  cursor: pointer;
}

.stars label svg {
  fill: #fff;
  stroke: #c53c00;
  width: 70px;
  height: 70px;
}

input:hover ~ label svg {
  fill: #ffe64b;
}


.stars input:checked ~ label svg {
  fill: #c53c00;
}
